<header>
    <section class="bg-main-color h-[36px] flex justify-center items-center">
        <aside>
            <div class="container text-center text-white">
                <p class="font-[400] text-[12px] ">Due to current circumstances, there may be slight delays in order
                    processing</p>
            </div>
        </aside>
    </section>
    <div class="text-[#3E445A] font-[400] text-[12px]  border-b ">
        <div class="container flex items-center">
            <ul class="flex justify-center items-center gap-3 ps-[15px]">
                <li>About Us</li>
                <li>Compare</li>
                <li>Wishlist</li>
            </ul>
            <div class="flex justify-center items-center gap-1 ps-[250px]">
                <img class="w-[20px]" src="/Icon2.png" alt="">
                <p>100% Secure delivery without contacting the courier</p>

            </div>
            <div class="help">
                <p class="ps-5 ms-5">Need help? Call Us: <span class="text-main-color font-[500]">+
                        0020 500</span></p>
            </div>

            <div class="drop-down flex justify-center items-center h-[39px] ms-6">
                <div class="lang ps-8">
                    <div class="relative group">
                        <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover"
                            data-dropdown-trigger="hover"
                            class="text-[#3E445A] focus:outline-none focus:ring-blue-300 font-medium  text-center inline-flex items-center"
                            type="button">English <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                        <div
                            class="absolute right-0 mt-2 w-24 bg-white text-gray-700 rounded shadow-lg z-10 hidden group-hover:block">
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">English</a>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Arabic</a>
                        </div>
                    </div>
                </div>
                <div class="country ps-5">
                    <button id="countryDropdown" data-dropdown-toggle="dropdownhover" data-dropdown-trigger="hover"
                        class="text-[#3E445A] focus:outline-none focus:ring-blue-300 font-medium  text-center inline-flex items-center"
                        type="button">USD <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>



                    <!-- Dropdown menu -->
                    <div id="dropdownhover"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="countryDropdown">
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                                    out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container flex justify-center items-center pt-[40px]">
        <div class="logo">
            <img class="w-[166px] h-[62px] relative left-4" src="/Link - Bacola Store.png" alt="Basket logo">
        </div>
        <div class="search-input">

            <form class="ms-[140px]  w-[763px] h-[60px] ">
                <label for="default-search"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 end-3 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="block w-full p-4 ps-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search for products..." />
                </div>
            </form>

        </div>
        <div class="flex justify-center items-center gap-3">
            <div
                class="w-[42px] h-[42px] rounded-full border border-gray-300 flex justify-center items-center ms-[50px]">
                <img src="/Vector.png" alt="profile-icn">
            </div>
            <div class="total-price text-[#3E445A] font-[600]">
                <p>$0.00</p>
            </div>
            <div
                class="cart-icon w-[42px] h-[42px] rounded-full flex justify-center items-center bg-[#FFF1EE] relative">
                <img class="w-[16px] h-[16px]" src="/Icon.png" alt="cart-icn">
                <div
                    class="num w-[20px] h-[20px] rounded-full bg-[#EA2B0F] text-white flex justify-center items-center absolute top-[-5px] right-[-5px]">
                    0
                </div>
            </div>
        </div>
    </div>




    <nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                class="flex items-center justify-between text-[15px] font-[600] w-full py-2 px-7 uppercase text-white bg-main-color rounded-[50px] md:w-auto"><i
                    class="fa-solid fa-bars text-white pe-2"></i> All Categories
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg></button>

            <!-- Dropdown menu -->
            <div id="dropdownNavbar"
                class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>

                </ul>

            </div>
            <button data-collapse-toggle="navbar-dropdown" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-dropdown" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto mx-auto" id="navbar-dropdown">
                <ul
                    class="flex flex-col  font-[600]  p-4 uppercase md:p-0 mt-4 border text-[#3E445A] border-gray-100 rounded-lg bg-gray-50 md:space-x-8 md:flex-row md:mt-0 md:border-0 md:bg-white">
                    <li>
                        <a routerLink="/" routerLinkActive="text-[#35AFA0] bg-[#F0FAFF]"
                            class="block px-4 py-2  rounded-[50px]  text-[15px]">Home</a>
                    </li>
                    <li>
                        <a routerLink="/shop" routerLinkActive="text-[#35AFA0] bg-[#F0FAFF]"
                            class=" px-4 py-2 rounded-[50px] text-[15px] flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                            </svg>
                            Shop</a>
                    </li>
                    <li>
                        <a routerLink="/blog" routerLinkActive="text-[#35AFA0] bg-[#F0FAFF]"
                            class=" px-4 py-2 rounded-[50px] text-[15px] flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                            </svg>
                            Blog</a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="text-[#35AFA0] bg-[#F0FAFF]"
                            class=" px-4 py-2 rounded-[50px] text-[15px] flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                            </svg>
                            Contact</a>
                    </li>
                    <li>
                        <a routerLink="/wishlist" routerLinkActive="text-[#35AFA0] bg-[#F0FAFF]"
                            class="px-4 py-2 rounded-[50px] text-[15px] flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                            Wishlist</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
